page-place {
  .place-row{
    position: relative;
  }
  .font-32 {
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .font-32 h2 {
    font-size: 32px;
  }
  h4.font-16 {
    position: relative;
    top: 30%;
    font-size: 16px;
  }
  .visit-hours {
    height: 90px;
  }
}
