<!--
  Generated template for the Place page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img [src]="floor.img" style="height:30px;vertical-align:bottom" />Floor {{floor.num}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card style="height: calc(100% - 20px);">
    <ion-card-content>
      <h2><strong>{{floor.name}}</strong></h2>
      <ion-row class="place-row">
        <ion-col col-6>
          <div>
            <google-chart [data]="floor.data"></google-chart>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="font-32">
            <h2>{{floor.lvl | number:'1.0-0'}}%</h2>
          </div>
        </ion-col>
      </ion-row>
      <div><br><br></div>
      <ion-row class="place-row" *ngIf="lookingForPartner">
        <ion-col col-3>
          <ion-avatar item-left>
            <img src="images/avatar.png">
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <h4 class="font-16">
            <strong>Edan Chetrit</strong> is looking for a partner
          </h4>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!lookingForPartner">
        <h3>Visit Hours</h3>
        <img class="visit-hours" src="images/visit-hours.png">
      </ion-row>
      <div><br></div>
      <button *ngIf="!lookingForPartner" ion-button icon-left block (click)="share()">
        <ion-icon name="share"></ion-icon>
        Share
      </button>
      <button *ngIf="lookingForPartner" ion-button color="secondary" block round>Great, I'll be there!</button>
    </ion-card-content>

  </ion-card>
</ion-content>
